{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" class="container" role="main">
	<div class="row">
		<div class="col-md-8 mr-auto ml-auto">
			{{#get "users" id="1" as |user|}}
				{{#user}}
					<section class="intro">
						<div class="intro-meta">
							{{#if profile_image}}
	                    	<figure class="intro-image">
		                        <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
	                    	</figure>
		                    {{/if}}
		                    <h1><strong>{{name}}</strong> <span>{{location}}</span></h1>
	                        <ul class="social">
	                            {{#if twitter}}<li><a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{twitter}}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>{{/if}}
	                            {{#if facebook}}<li><a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{facebook}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>{{/if}}
	                            <li><a href="#" class="github" title="github" target="_blank" data-toggle="tooltip" data-placement="top" title="{{facebook}}"><i class="fab fa-github"></i></a></li>
	                        </ul>
						</div>
                        {{#if bio}}
                            <p>{{bio}}</p>
                        {{else}}
                        	<p>Please set your author's bio.</p>
                        {{/if}}
					</section>
				{{/user}}
			{{/get}}
			<h3 class="title">Latest posts</h3>
			<div class="loop">
				{{#foreach posts}}
					{{> "loop"}}
				{{/foreach}}
		    </div>
		    {{pagination}}
		</div>
	</div>
</main>