{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" class="container" role="main">
	<div class="row">
		<div class="col-md-8 mr-auto ml-auto">
			{{#get "users" id="1" as |user|}}
				{{#user}}
					<section class="author">
						<div class="author-meta">
							{{#if profile_image}}
		                    <figure class="author-image">
		                        <a class="img" href="{{url}}" title="{{name}}"><img src="{{img_url profile_image}}" alt="{{name}}"></a>
		                    </figure>
		                    {{else}}
		                        <a class="no-image" href="{{url}}" title="{{name}}"><i class="fas fa-user"></i></a>
		                    {{/if}}
		                    <h1><strong>{{name}}</strong> {{location}}</h1>
	                        <ul class="share">
	                            {{#if twitter}}<li><a href="{{twitter_url}}" class="twitter" title="{{twitter}}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{twitter}}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>{{/if}}
	                            {{#if facebook}}<li><a href="{{facebook_url}}" class="facebook" title="{{facebook}}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{facebook}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>{{/if}}
	                            <li><a href="#" class="github" title="github" target="_blank" data-toggle="tooltip" data-placement="top" title="{{facebook}}"><i class="fab fa-github"></i></a></li>
	                        </ul>
						</div>
	                    <p>
	                        {{#if bio}}
	                            {{bio}}
	                        {{else}}
	                        	Please set your author's bio.
	                        {{/if}}
                        </p>
					</section>
				{{/user}}
			{{/get}}
			<div class="loop">
				{{#foreach posts}}
					<div class="item">
						{{> "loop"}}
					</div>
				{{/foreach}}
		    </div>
		    <a href="#" class="btn">Load more</a>
	    	<ul class="tags-list">
	    		{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
	    			{{#foreach tags}}
	    				<li>
	    					<a href="{{url}}" class="post-title tag-{{slug}}" title="{{name}}">
	    						<strong>{{name}}</strong> 
	    						<span>{{count.posts}} posts</span>
	    					</a>
	    				</li>
	    			{{/foreach}}
	    		{{/get}}
	    	</ul>
	    	<form method="POST" action="https://formspree.io/contact@hauntedthemes.com">
                <input type="email" name="email" placeholder="Your email">
                <textarea name="message" placeholder="Your message"></textarea>
                <button type="submit" class="btn">Send</button>
            </form>
		</div>
	</div>
</main>
{{pagination}}