{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="content" class="container" role="main" data-id={{comment_id}}>
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
            <article class="{{post_class}}">
                <h1 class="post-title">{{title}}</h1>
                <div class="post-meta">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMM YYYY"}}</time><span class="tags">{{tags separator=' '}}</span>
                    <div class="inner">
                        <a href="{{url absolute="true"}}#disqus_thread" class="count-comments"></a>
                        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" class="twitter" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" data-toggle="tooltip" data-placement="right" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="read-later" data-id="{{id}}"><i class="far fa-bookmark"></i></a>
                    </div>
                </div>
                {{#if feature_image}}
                <figure class="feature-image">
                    <img src="{{img_url feature_image}}" alt="{{name}}">
                </figure>
                {{/if}}
                <div class="editor-content">
                    {{content}}
                </div>
                <span class="tags">{{tags separator=' '}}</span>
            </article>
            <div class="comments"><a href="#" class="btn">Write a comment</a></div>
            {{#get "posts" limit="2" include="tags, author" filter="id:-{{id}}+primary_tag:{{primary_tag.slug}}"}}
                {{#if posts}}
                <div class="related-posts">
                    <h3 class="title">Related posts</h3>
                    <div class="loop">
                        {{#foreach posts}}
                            {{> "loop"}}
                        {{/foreach}}
                    </div>
                </div>
                {{/if}}
            {{/get}}
        </div>
    </div>
</div>

{{/post}}