{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}


{{!-- The main content area --}}
<main id="content" class="container" role="main">
    {{#tag}}
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <section class="intro">
                    <div class="intro-meta">
                        <div class="inner">
                            <h1><strong><a href="{{url}}">{{name}}</a></strong></h1>
                            {{#if description}}
                                <p>{{description}}</p>
                            {{else}}
                                <p>A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
                            {{/if}}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {{/tag}}
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
            <h3 class="title">Posts</h3>
            <div class="loop">
                {{#foreach posts}}
                    {{> "loop"}}
                {{/foreach}}
            </div>
            {{pagination}}
        </div>
    </div>
</div>